<!DOCTYPE html>
<html lang="fi">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Joona Marjakangas">

    <title>Titeeni-city</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>
    <div class="container">
    {% if not opened %}
    <h2>Onnittelut! Löysit aarrearkun!</h2>
    <img src="{{ url_for('static', filename = 'chest-unopened.png') }}" style="width:128px;height:128px;">
    <p>Voit avata arkun syöttämällä alle pelaajanimesi. Älä kuitenkaan unohda CAPTCHAA!</p>
    <form action="" method="post">
        <div class="form-group">
          <label for="username">*Pelaajanimi:</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="g-recaptcha" data-sitekey="{{captchakey}}"></div>
        <div class="form-group" style="margin-top:20px;">
          <input type="submit" class="btn btn-primary btn-large" value="Avaa arkku">
        </div>
    </form>
    {% else %}

      {% if not empty %}
      <h2>Aarrearkusta löytyi {{itemname}}! Ihanaa!</h2>
      <img src="{{ url_for('static', filename = itemimgurl) }}" style="width:128px;height:128px;">
      <p>Esine on nyt lisätty pelihahmollesi. Pääset tarkastelemaan ja muokkaamaan pelihahmoasi seuraavasta linkistä:</p>
      {% else %}

      <h2>Ou nou, aarrearkku on tyhjä. Ehkä joku toinen on jo käynyt apajilla!</h2>
      <img src="{{ url_for('static', filename = 'chest-empty.png') }}" style="width:128px;height:128px;">
      <p>Parempi tuuri ensi kerralla. Pääset kuitenkin tarkastelemaan ja muokkaamaan pelihahmoasi seuraavasta linkistä:</p>
      {% endif %}
      
      <div style="height: 20px;"></div>
      <a href="{{playerlink}}" class="btn btn-success btn-large">Siirry hahmosivulle</a>

    {% endif %}
    </div>
  </body>

</html>
